<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.webank.wedatasphere.dss.workflow.dao.TenantVariableLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.webank.wedatasphere.dss.workflow.entity.TenantVariableLogEntry">
        INSERT INTO dss_orchestrator_tenant_variable_log
        (orchestrator_id, orchestrator_name, project_id, project_name,
         old_tenant_value, new_tenant_value, operator, status, error_message, create_time)
        VALUES
        (#{orchestratorId}, #{orchestratorName}, #{projectId}, #{projectName},
         #{oldTenantValue}, #{newTenantValue}, #{operator}, #{status}, #{errorMessage}, NOW())
    </insert>

</mapper>
